.lid {
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(87.67deg, rgba(59, 113, 254, 0.1) 12.06%, rgba(1, 162, 253, 0.1) 99.08%);
    padding: 105px 15px;
    
    &__fone {
        margin-top: -105px;
        height: 130px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        z-index: 5;
        width: 120%;
        margin-left: -10%;
    }

    &__container {
        max-width: 1250px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 1440px) {
        padding: 90px 15px;
        &__container {
            max-width: 1100px;
        }
    }
    @media (max-width: 1200px) {
        padding: 80px 15px;
        &__container {
            max-width: 990px;
        }
    }
    @media (max-width: 990px) {
        padding: 50px 15px;
        &__container {
            max-width: 800px;
        }
    }
    @media (max-width: 760px) {
        &__container {
            max-width: max-content;
            width: 100%;
            grid-template-columns: 1fr;
            row-gap: 50px;
            justify-content: center;
        }
    }
    @media (max-width: 560px) {
        &__fone {
            margin-top: -50px;
            z-index: 0;
            height: 50px;
        }
        &__container {
            max-width: 400px;
            width: 100%;
            grid-template-columns: 1fr;
            row-gap: 50px;
            justify-content: center;
        }
    }
}

.l-l {

    h2 {
        margin-top: 15px;
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 48px !important;
        line-height: 59px !important;
        color: #0E0E2C !important;
        max-width: 400px;

    }

    &__button {
        margin-top: 35px !important;
        padding: 0px !important;
        text-transform: none !important;
        font-family: 'Ubuntu' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 20px !important;
        letter-spacing: 0.01em !important;
        color: #377DFF !important;
        align-items: center !important;
        display: flex !important;
        svg {
            margin-left: 8px;
            width: 24px;
            height: 24px;
        }
    }
    @media (max-width: 1440px) {
        h2 {
            margin-top: 15px;
            font-size: 40px !important;
            line-height: 48px !important;
            max-width: 350px;
    
        }
    
        &__button {
            margin-top: 30px !important;
            padding: 0px !important;
            font-size: 18px !important;
            line-height: 18px !important;
            svg {
                margin-left: 6px;
                width: 22px;
                height: 22px;
            }
        }
    }
    @media (max-width: 1200px) {
        h2 {
            margin-top: 15px;
            font-size: 28px !important;
            line-height: 36px !important;
            max-width: 280px;
    
        }
    
        &__button {
            margin-top: 20px !important;
            padding: 0px !important;
            font-size: 16px !important;
            line-height: 16px !important;
            svg {
                margin-left: 6px;
                width: 18px;
                height: 18px;
            }
        }
    }
    @media (max-width: 990px) {
        h2 {
            margin-top: 15px;
            font-size: 24px !important;
            line-height: 30px !important;
            max-width: 240px;
    
        }
    
        &__button {
            margin-top: 20px !important;
            padding: 0px !important;
            font-size: 14px !important;
            line-height: 14px !important;
            svg {
                margin-left: 6px;
                width: 18px;
                height: 16px;
            }
        }
    }
    @media (max-width: 760px) {
        h2 {
            margin-top: 15px;
            font-size: 24px !important;
            line-height: 30px !important;
            max-width: 100%;
    
        }
    }
    @media (max-width: 560px) {
        h2 {
            margin-top: 15px;
            font-size: 20px !important;
            line-height: 24px !important;
            max-width: 100%;
    
        }
    }
}

.l-r {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 35px;
    &__card {
        min-width: 265px;
        max-width: 275px;
        height: 265px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1) !important;
        border-radius: 30px !important;
        img {
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }

        h3 {
            margin-top: 30px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 22px;
            color: #0E0E2C;
        }
    }
    @media (max-width: 1440px) {
        column-gap: 40px;
        row-gap: 35px;
        &__card {
            min-width: 225px;
            max-width: 225px;
            height: 225px;
            img {
                width: 90px;
                height: 90px;
            }

            h3 {
                margin-top: 25px;
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
    @media (max-width: 1200px) {
        column-gap: 30px;
        row-gap: 25px;
        &__card {
            min-width: 200px;
            max-width: 200px;
            height: 200px;
            img {
                width: 80px;
                height: 80px;
            }

            h3 {
                margin-top: 25px;
                font-size: 18px;
                line-height: 18px;
            }
        }
    }
    @media (max-width: 990px) {
        column-gap: 20px;
        row-gap: 20px;
        &__card {
            min-width: 180px;
            max-width: 180px;
            height: 180px;
            img {
                width: 70px;
                height: 70px;
            }

            h3 {
                margin-top: 20px;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
    @media (max-width: 990px) {
        column-gap: 20px;
        row-gap: 20px;
        max-width: 450px;
        &__card {
            min-width: 180px;
            max-width: 180px;
            height: 180px;
            img {
                width: 70px;
                height: 70px;
            }

            h3 {
                margin-top: 20px;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
    @media (max-width: 560px) {
        column-gap: 20px;
        row-gap: 20px;
        &__card {
            min-width: 160px;
            max-width: 160px;
            height: 160px;
            img {
                width: 60px;
                height: 60px;
            }

            h3 {
                margin-top: 20px;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}

.shur {
    position: absolute;
    margin-top: 165px;
    margin-left: -300px;
    svg {
       height: 132px; 
    }
    
    @media (max-width: 1440px) {
        margin-top: 135px;
        margin-left: -340px;
        
        svg {
            height: 125px;
         }
    }
    @media (max-width: 1200px) {
        margin-top: 125px;
        margin-left: -340px;
        
        svg {
            height: 110px;
         }
    }
    @media (max-width: 990px) {
        margin-top: 100px;
        margin-left: -280px;
        
        svg {
            height: 100px;
         }
    }
    @media (max-width: 760px) {
        display: none;
    }
}